<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon"
	href="#">
<title>Number Converter</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/errorpagestyle.css}">
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>404 - <span class="red"><em>You Seem Lost</em></span></h2>
			
			<p>Yeah,we're as confused as you are,you took a wrong turn to be here.Luckily we can get this fixed</p>
			<a href="#">Go To Home page</a>
		</div>
	</div>

</body>
</html>
